<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movie</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    {%load index%}
    <link
      rel="icon"
      href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css"
    />
    <!-- Ionicons JS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <!-- header start -->
      <header>
        <!-- normal -->
        <div class="section_container header_container">
          <a class="logo" href="/">
            <img src="/static/images/icons/Component 1.png" alt="logo" />
          </a>

          <nav class="header--nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Discover</a></li>
              <li><a href="#">Movie Release</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">About</a></li>
            </ul>
          </nav>

          <div class="notif">
            <div class="search_icon">
              <img
                class="search_icon"
                src="/static/images/icons/search_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
                alt="search"
              />
              <div class="search_input">
                <input type="text" />
              </div>
            </div>

           {%if request.session.user_id%}
           <div class="message_box">
            <img src="/static/images/icons/bell.svg" />
          </div>

          <div class="profil">
            <img src="/static/images/icons/Image.svg" alt="profil image" />
            
            <a href="/logout" style="color:white;margin-left:15px">Logout</a>
          </div>
          {%else%}
          <div class="notif">
           
            <!-- signup btn -->
            <a class="text_white" href="/signup">
            <button class="transparent_button" style="color: white;">
             Sign up
            </button>
          </a>

            <!-- login btn -->
            <a class="text_white" href="/login" style="color: white;">
            <button class="play_button rounded-base flex_center" style="color: white;">
              Login
            </button>
          </a>
          </div>
          {%endif%}
            <nav class="burger">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Movie Release</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- header end -->

      <!-- main start -->
      <main>
        <!-- header section 1  start-->
         {%if random_main_movie.film_name%}
        <section id="home_default_hero">
          <div class="filter_container">
            <div class="hero-slider_container">
              <img src="{{random_main_movie.film_poster.url}}" />
              
          </div>
          <div class="details_container section_container relative">
            <!-- hero container -->
            <div class="movie--details--wrapper">
              

              <div class="movie-details mb-10">
                <div class="home_details_container">
                  <h2 class="movie--title">{{random_main_movie.film_name}}</h2>
                  <span class="home_hero_text"
                    >{{random_main_movie.film_duration|duration_format}} • {{random_main_movie.release_date|date:"Y"}} • {{random_main_movie.film_category}} • {{random_main_movie.film_genre}}
                  </span>
                  <p>
                   {{random_main_movie.film_description}}
                  </p>
                </div>
                <div class="button_wrapper home_hero_buttons">
                  <div>
                    <a href="/movie/{{random_main_movie.film_link}}">
                      <button
                      class="play_button rounded-base flex_center text_white"
                    >
                      <img
                        class="font-width-24"
                        src="/static/images/icons/play_circle_filled_24dp_FFFFFF.svg"
                        alt="play button"
                      />
                      <span>Play Now</span>
                    </button>
                    </a>
                    <a href="{{random_main_movie.film_trailer}}" target="_blank">
                      <button class="transparent_button">
                        <img class="font-width-24" src="/static/images/icons/Icon.svg" />
                        <span class="block">Watch Trailer</span>
                      </button>
                    </a>

                    <button class="transparent_button {%if random_main_movie.film_id in ids%} bg-red {%endif%}" id="addwatchlist-main">
                      
                      <input type="text" hidden name="watchlist-series" id="watchlist-film" value="{{random_main_movie.film_link}}">
                      <img class="font-width-24" src="/static/images/icons/Icon.svg" />
                      <span class="">Add Watchlist</span>
                    </button>
                  </div>

                  
                </div>
              </div>
            </div>

          </div>
        </section>
        {%elif random_main_movie.series_name%}
        <section id="home_default_hero">
          <div class="filter_container">
            <div class="hero-slider_container">
              <img src="{{random_main_movie.series_open_poster.url}}" />
              
          </div>
          <div class="details_container section_container relative">
            <!-- hero container -->
            <div class="movie--details--wrapper">
              

              <div class="movie-details mb-10">
                <div class="home_details_container">
                  <h2 class="movie--title">{{random_main_movie.series_name}}</h2>
                  <span class="home_hero_text"
                    >{{random_main_movie.series_episode_count}} episodes • {{random_main_movie.release_date|date:"Y"}} • {{random_main_movie.series_category}} • {{random_main_movie.series_genre}}
                  </span>
                  <p>
                   {{random_main_movie.series_description}}
                  </p>
                </div>
                <div class="button_wrapper home_hero_buttons">
                  <div>
                    <a href="/series/{{random_main_movie.series_link}}">
                      <button
                      class="play_button rounded-base flex_center text_white"
                    >
                      <img
                        class="font-width-24"
                        src="/static/images/icons/play_circle_filled_24dp_FFFFFF.svg"
                      alt="play button"
                      />
                      <span>Play Now</span>
                    </button>
                    </a>
                    <a href="{{random_main_movie.series_trailer}}" target="_blank">
                      <button class="transparent_button">
                        <img class="font-width-24" src="/static/images/icons/Icon.svg" />
                        <span class="block">Watch Trailer</span>
                      </button>
                    </a>

                    <button class="transparent_button" id="addwatchlist-main">
                 
                      <input type="text" hidden name="watchlist-series" id="watchlist-series" value="{{random_main_movie.series_link}}">
                      <img class="font-width-24" src="/static/images/icons/Icon.svg" />
                      <span class="">Add Watchlist</span>
                    </button>
                  </div>

                  
                </div>
              </div>
            </div>

          </div>
        </section>
        {%endif%}
        <!--  section 1  end-->

        <!--  section 2 stream  start-->
        <section class="movie_information">
          <div class="section_container">
            <div class="info_container m-5">
              <div class="stream_container">
                <!-- box 1 start -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Disney.png"
                />
                <!-- box end -->

                <!-- box 2 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/HBO Max.png"
                />
                <!-- box 3 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/NatGeo.png"
                />
                <!-- box 4 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Marvel.png"
                />
                <!-- box 5 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Pixar.png"
                />
                <!-- box 6 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Star Wars.png"
                />
                <!-- box 7 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Disney.png"
                />
                <!-- box 8 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/NatGeo.png"
                />
                <!-- box 9 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/NatGeo.png"
                />
                <!-- box 10 -->
                <img
                  class="stream_box"
                  src="/static/images/homeDefault/streamList/Marvel.png"
                />
              </div>

              <!-- next canal button -->
              <div class="new--actor_button new_canal">
                <img src="/static/images/icons/Vector.svg" alt="next button" />
              </div>
            </div>
          </div>
        </section>
        <!-- 2  section end-->

        <!--  section 3 movies  start-->
        <section>
          <div class="section_container">
            {%if contwatchfilms%}
            <div class="home_movies__wrapper">
              <!-- movie title -->
               <!--TODO add Watching Data-->
              <div class="films__title">
                <div>Continue Watching</div>
              </div>
              <!-- movie container -->
              <div class="movie_box">
                <div class="films_container movies_container--1">
                  {%for f in contwatchfilms%}
                 <a href="/movie/{{f.film.film_link}}" style="color: wheat;">
                  <div class="film__box home__movie__box">
               
                    <img src="{{f.film.movie_open_image.url}}" />
                 
                  <div>
                    <h3>{{f.film.film_name}}</h3>
                    <p>{{f.film.release_date|date:'Y'}}</p>
                   
                  </div>
                </div>
                 </a>
                  {%endfor%}
                 
                </div>

                <!-- absolute next button -->
                <div class="next_video_button home_next_btn_1">
                  <img src="/static/images/icons/Vector.svg" alt="next button" />
                </div>
              </div>
            </div>
            {%endif%}

            <!-- movies 2 Popular of the week -->
            <div class="home-film__container margin-top-15">
              <div>
                <!-- title -->
                <div class="films__title">
                  <div>Popular of the week</div>
                  
                </div>

                <!-- movies 2 -->
                <div class="movie_box">
                  <div class="films_container movies__container_2 ">
                    <!-- box 1 -->
                    {%for m in popular_movies%}
                    {%if m.film_name%}
                    <a href="/movie/{{m.film_link}}" style="color: white;">
                      <div class="home_populer-container">
                        <h3>{{forloop.counter0|add:'1'}}</h3>
                        <img src="{{m.film_poster.url}}" />
                        <div class="populer_movie_details">
                       
                          <!-- name -->
                          <h4>{{m.film_name}}</h4>
                          <!-- category -->
                          <div class="category_movie">
                            <img src="/static/images/icons/Layer 2.png" />
                            <span>{{m.film_category}} • {{m.film_genre}}</span>
                          </div>
                          <!-- reyting  -->
                          <div class="reyting">
                            <img
                              src="/static/images/icons/star_18dp_FFFF55.svg"
                              alt="star"
                            />
                            <span>{{m.film_imdb_rating}}</span>
                            
                          </div>
                        </div>
                      </div>
                    </a>
                    {%elif m.series_name%}
                    <a href="/series/{{m.series_link}}" style="color: white;">
                      <div class="home_populer-container">
                        <h3>{{forloop.counter0|add:'1'}}</h3>
                        <img src="{{m.series_poster.url}}" />
                        <div class="populer_movie_details">
                       
                          <!-- name -->
                          <h4>{{m.series_name}}</h4>
                          <!-- category -->
                          <div class="category_movie">
                            <img src="/static/images/icons/Layer 2.png" />
                            <span>{{m.series_category}} • {{m.series_genre}}</span>
                          </div>
                          <!-- reyting  -->
                          <div class="reyting">
                            <img
                              src="/static/images/icons/star_18dp_FFFF55.svg"
                              alt="star"
                            />
                            <span>{{m.series_imdb_rating}}</span>
                            
                          </div>
                        </div>
                      </div>
                    </a>
                    {%endif%}
                    {%endfor%}
                   
                  </div>

                  <!-- absolute button -->
                  <div class="next_video_button next_btn_2">
                    <img src="/static/images/icons/Vector.svg" alt="next button" />
                  </div>
                </div>
              </div>
            </div>

            <!-- movies 3  Just Release -->
            <div class="home-film__container mb-10 margin-top-15">
              <div>
                <!-- title -->
                <div class="films__title">
                  <div>Just Release</div>
                  
                </div>

                <div class="movie_box">
                  <div class="films_container movies__container_1">
                    <!-- box 1 -->
                     {%for r in just_relases%}
                     {%if r.film_link%}
                   <a href="/movie/{{r.film_link}}" style="color:white;">
                    <div class="film__box just-release--cart">
                      <img src="{{r.film_poster.url}}" />
                      <div>
                        <h3>{{r.film_name}}</h3>
                        <div class="reyting">
                          <img
                            src="/static/images/icons/star_18dp_FFFF55.svg"
                            alt="star"
                          />
                          <span>{{r.film_imdb_rating}}</span>
                          <div class="categore_movie">| {{r.film_category}} • {{r.film_genre}}</div>
                        </div>
                      </div>
                    </div>
                   </a>
                   {%elif r.series_link%}
                   <a href="/series/{{r.series_link}}" style="color:white;">
                    <div class="film__box just-release--cart">
                      <img src="{{r.series_poster.url}}" />
                      <div>
                        <h3>{{r.series_name}}</h3>
                        <div class="reyting">
                          <img
                            src="/static/images/icons/star_18dp_FFFF55.svg"
                            alt="star"
                          />
                          <span>{{r.series_imdb_rating}}</span>
                          <div class="categore_movie">| {{r.series_category}} • {{r.series_genre}}</div>
                        </div>
                      </div>
                    </div>
                   </a>
                   {%endif%}
                    {%endfor%}
                  
                    
                  </div>

                  <!-- absolute next button -->
                  <div class="next_video_button next_btn_1">
                    <img src="/static/images/icons/Vector.svg" alt="next button" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- 3  section end-->

        <!-- section 4 start  -->
        <section>
          <div class="section_container">
           
            
            <div class="film__container border-none">
              <div class="">
                <div class="films__title">
                  <div>Your Watchlist</div>
                </div>

                {%if watchlist%}
                <div class="movie_box">
                  <div class="films_container smillar__containers">
                    {%for r in watchlist%}
                    {%if r.film_link%}
                  <a href="/movie/{{r.film_link}}" style="color:white;">
                   <div class="film__box just-release--cart">
                     <img src="{{r.film_poster.url}}" />
                     <div>
                       <h3>{{r.film_name}}</h3>
                       <div class="reyting">
                         <img
                           src="/static/images/icons/star_18dp_FFFF55.svg"
                           alt="star"
                         />
                         <span>{{r.film_imdb_rating}}</span>
                         <div class="categore_movie">| {{r.film_category}} • {{r.film_genre}}</div>
                       </div>
                     </div>
                   </div>
                  </a>
                  {%elif r.series_link%}
                  <a href="/series/{{r.series_link}}" style="color:white;">
                   <div class="film__box just-release--cart">
                     <img src="{{r.series_poster.url}}" />
                     <div>
                       <h3>{{r.series_name}}</h3>
                       <div class="reyting">
                         <img
                           src="/static/images/icons/star_18dp_FFFF55.svg"
                           alt="star"
                         />
                         <span>{{r.series_imdb_rating}}</span>
                         <div class="categore_movie">| {{r.series_category}} • {{r.series_genre}}</div>
                       </div>
                     </div>
                   </div>
                  </a>
                  {%endif%}
                   {%endfor%}
                 
                   
                    
                  </div>

                  <!-- absolute button -->
                  <div class="next_video_button next_video_button-2">
                    <img src="/static/images/icons/Vector.svg" alt="next button" />
                  </div>
                </div>
                {%endif%}
              </div>
            </div>

           
          </div>
        </section>
        <!-- setion 4 end -->

        
      </main>
      <!-- main end -->

      <!-- footer start -->
      <footer>
        <div class="section_container footer_container">
          <div>
            <h4>
              Our platform is trusted by millions & features best updated movies
              all around the world.
            </h4>
            <div class="footer_nav_container">
              <nav>
                <!-- after iledə etmek olardı bu yolu seçdim -->
                <a href="">Home</a>
                <span>/</span>
                <a href="">Discover</a>
                <span>/</span>
                <a href="">Influence</a>
                <span>/</span>
                <a href="">Release</a>
              </nav>
              <div class="social_container">
                <img src="/static/images/social/icons8-instagram-30.png" />
                <img src="/static/images/social/icons8-facebook-30.png" />
                <img src="/static/images/social/icons8-twitter-squared-50.png" />
                <img src="/static/images/social/Google.svg" />
              </div>
            </div>
          </div>

          <div class="end">
            <div>
              <span>Privacy policy</span>
              <span>Term of service</span>
              <span>Language</span>
            </div>
            <div class="date">© 2023</div>
          </div>
        </div>
      </footer>
      <!-- footer end -->
    </div>

    <!-- javascript code -->
    <script src="/static/app.js"></script>
    <script>
      const addwatchlistmain = document.getElementById('addwatchlist-main')
      addwatchlistmain.addEventListener('click',async()=>{
        const filmdata = document.getElementById('watchlist-film')
        if(filmdata){
          const response = await fetch('/addWatchListFilm/'+filmdata.value)
          const res = response.json()
          res.then(data=>{
            if(data['status']=='success'){
              addwatchlistmain.className ='transparent_button bg-red'
            }
            else if(data['status']=='successdel'){
              addwatchlistmain.className ='transparent_button'
            }
          })
        }
        else{
          const filmdata = document.getElementById('watchlist-series')
          const response = await fetch('/addWatchListSeries/'+filmdata.value)
          const res = response.json()
          res.then(data=>{
            if(data['status']=='success'){
              addwatchlistmain.className ='transparent_button bg-red'
            }
            else if(data['status']=='successdel'){
              addwatchlistmain.className ='transparent_button'
            }
          })
        }
      })
    </script>
    <script src="/static/js/home.js"></script>
    <script src="/static/js/homeAfter.js"></script>
  </body>
</html>
