<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{movie.film_name}}</title>
        <link rel="stylesheet" href="/static/index.css" />
        <link
          href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet"
        />
        <link
          rel="icon"
          href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png"
        />

        {%load index%}
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css"
        />
        <!-- Ionicons JS -->
        <script
          type="module"
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
          nomodule
          src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
      </head>
    <body>
        <div class="container">
            <!-- header start -->
            <header>
                <!-- normal -->
                <div class="section_container normal_navbar">
                    <a class="logo" href="/">
                        <img src="/static/images/icons/Component 1.png" alt="logo" />
                    </a>

                    <nav class="header--nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Discover</a></li>
                            <li><a href="#">Movie Release</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </nav>

                    <div class="notif">
                        <div class="search_icon">
                            <img
                                class="search_icon"
                                src="/static/images/icons/search_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
                                alt="search"
                            />
                            <div class="search_input">
                                <input type="text" />
                            </div>
                        </div>

                        <div class="message_box">
                            <img src="/static/images/icons/bell.svg" />
                          </div>
                
                          <div class="profil">
                            <img src="/static/images/icons/Image.svg" alt="profil image" />
                            
                            <a href="/logout" style="color:white;margin-left:15px">Logout</a>
                          </div>
                    </div>
                </div>
                <!-- mobil -->
                <div class="section_container mobil_navbar">
                    <a href="/">
                        <img src="/static/images/icons/chevron-left.svg" />
                    </a>

                    <div class="mobil_container">
                        <img src="/static/images/icons/Icon copy.svg" alt="" />
                        <nav class="burger">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Discover</a></li>
                                <li><a href="#">Movie Release</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- header end -->

            <!-- main start -->
            <main>
                <!-- header section 1  start-->
                <section id="movie_hero_section" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%), url({{movie.movie_open_image.url}});">
                    <div class="details_container details_container_2 section_container">
                        <div class="movie--details--wrapper">
                          

                            <div class="movie-details">
                                <div>
                                    <h2 class="movie--title">{{movie.film_name}}</h2>
                                    <span>{{movie.film_duration|duration_format}} • {{movie.film_release_date|date:'Y'}} • {{movie.film_genre}} • {{movie.film_category}} </span>
                                </div>
                                <div class="button_wrapper">
                                    <div>
                                       <a href="/movie/{{movie.film_link}}/play" target="_blank">
                                        <button
                                        class="play_button rounded-base flex_center text_white"
                                    >
                                        <!--TODO add Film Player-->
                                        <img
                                            class="font-width-24"
                                            src="/static/images/icons/play_circle_filled_24dp_FFFFFF.svg"
                                            alt="play button"
                                        />
                                        
                                        <span>Start Watching</span>
                                    </button>
                                       </a>

                                       <button class="transparent_button {%if doeswatch%} bg-red {%endif%}" id="addwatchlist-main">
                 
                                        <input type="text" hidden name="watchlist-series" id="watchlist-film" value="{{movie.film_link}}">
                                        <img class="font-width-24" src="/static/images/icons/Icon.svg" />
                                        <span class="">Add Watchlist</span>
                                      </button>
                                    </div>

                                    <div class="buttons">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  section 1  end-->

                <!--  section 2 information  start-->
                <section class="movie_information">
                    <div class="section_container">
                        <div class="info_container text_white">
                            <h4 class="info-title">Story Line</h4>
                            <p>
                               {{movie.film_description}}
                                <span class="more">More</span>
                            </p>
                        </div>

                        <div class="info_container">
                            <h4 class="info-title">Top Cast</h4>
                            <div class="actors_container">
                               {%for ac in movie.film_cast%}
                                <div class="actor--box">
                                    <img class="actor-img" src="{{ac.photo_url}}" />

                                    <div class="actor-details">
                                        <div class="actor-name">{{ac.name}}</div>
                                        <span>{{ac.role}}</span>
                                    </div>
                                </div>
                                {%endfor%}
                                
                               
                            </div>
                            <!-- next actor button -->
                            <div class="new--actor_button">
                                <img src="/static/images/icons/Vector.svg" alt="next button" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 2  section end-->

                <!--  section 3 categories  start-->
                <section>
                    <div>
                     

                        <div class="movie--wrapper_2">
                            <!-- movies 1 -->
                            
                            <!-- movie 2 -->
                            <div class="film__container border-none">
                                <div class="section_items_container">
                                    <div class="films__title">
                                        <div>Similar Movies for you</div>
                                    </div>

                                    <div class="movie_box">
                                        <div class="films_container movies__container_2 ">
                                            {%for s in similars%}
                                            <a href="/movie/{{s.film_link}}" style="color: white;">
                                                <div class="simillar--movi_box">
                                                    <img src="{{s.film_poster.url}}" alt="" style="height: 400px;"/>
                                                    <div class="movie__details">
                                                        <div class="name">{{s.film_name}}</div>
                                                        <div class="reyting">
                                                            <img
                                                                src="/static/images/icons/star_18dp_FFFF55.svg"
                                                                alt="star"
                                                            />
                                                            <span>{{s.film_imdb_rating}}</span>
                                                            <div class="categore_movie">
                                                                | {{s.film_category}} • Movie
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            {%endfor%}
                                            
                                        </div>

                                        <!-- absolute button -->
                                        <div
                                            class="next_video_button next_video_button-2 next_button_2"
                                        >
                                            <img src="/static/images/icons/Vector.svg" alt="next button" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 3  section end-->
            </main>
            <!-- main end -->

            <!-- footer start -->
            <footer>
                <div class="section_container footer_container">
                    <div>
                        <h4>
                            Our platform is trusted by millions & features best updated movies all
                            around the world.
                        </h4>
                        <div class="footer_nav_container">
                            <nav>
                                <!-- after iledə etmek olardı bu yolu seçdim -->
                                <a href="">Home</a>
                                <span>/</span>
                                <a href="">Discover</a>
                                <span>/</span>
                                <a href="">Influence</a>
                                <span>/</span>
                                <a href="">Release</a>
                            </nav>
                            <div class="social_container">
                                <img src="/static/images/social/icons8-instagram-30.png" />
                                <img src="/static/images/social/icons8-facebook-30.png" />
                                <img src="/static/images/social/icons8-twitter-squared-50.png" />
                                <img src="/static/images/social/Google.svg" />
                            </div>
                        </div>
                    </div>

                    <div class="end">
                        <div>
                            <span>Privacy policy</span>
                            <span>Term of service</span>
                            <span>Language</span>
                        </div>
                        <div class="date">© 2023</div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>

        <!-- javascript code -->
        <script  src="/static/app.js"></script>
        <script>
            const addwatchlistmain = document.getElementById('addwatchlist-main')
            addwatchlistmain.addEventListener('click',async()=>{
              const filmdata = document.getElementById('watchlist-film')
              if(filmdata){
                const response = await fetch('/addWatchListFilm/'+filmdata.value)
                const res = response.json()
                res.then(data=>{
                  if(data['status']=='success'){
                    addwatchlistmain.className ='transparent_button bg-red'
                  }
                  else if(data['status']=='successdel'){
                    addwatchlistmain.className ='transparent_button'
                  }
                })
              }
              else{
                const filmdata = document.getElementById('watchlist-series')
                const response = await fetch('/addWatchListSeries/'+filmdata.value)
                const res = response.json()
                res.then(data=>{
                  if(data['status']=='success'){
                    addwatchlistmain.className ='transparent_button bg-red'
                  }
                  else if(data['status']=='successdel'){
                    addwatchlistmain.className ='transparent_button'
                  }
                })
              }
            })
          </script>
        <script  src="/static/js/movie.js"></script>
    </body>
</html>
