<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>movie</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css"
    />
    <!-- Ionicons JS -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </head>

  <body>
    <div class="container">
      <!-- login section  -->
      <section class="user_account_container">
        <!-- mobil -->
        <div class="section_container mobil_navbar">
          <a>
            <img
              class="header_mobile_logo signup_mobile_back"
              src="/static/images/icons/chevron-left.svg"
            />
          </a>

          <div class="home_mobile__menu">
            <div class="mobil_container">
              <img
                class="mobilButton"
                src="/static/images/icons/menu-alt-3.svg"
                alt=""
              />
              <nav class="burger">
                <ul>
                  <li><a href="/static/HomeDefault.html">Home</a></li>
                  <li><a href="#">Discover</a></li>
                  <li><a href="#">Movie Release</a></li>
                  <li><a href="#">Forum</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="/static/login.html">login</a></li>
                  <li><a href="/static/signup.html">sign up</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <!--  form cart container -->
        <div class="account_box">
          <!-- form header -->
          <div class="form_header_container">
            <div class="form__left">
              <img src="/static/images/icons/Component 1.png" alt="logo" />
              <span>Login to your account</span>
            </div>
            <button class="transparent_button btn_padding form_close_btn">
              Close
            </button>
          </div>
          <!-- form main  -->
           {{error}}
          <form class="form_main_container"  id="signup" method="post">{%csrf_token%}
            <!-- Username -->
            <div class="input_box">
              <label for="user-name">Username</label>
              <input
                id="user-name"
                type="text"
                name="username"
                placeholder="Username"
                required
                autocomplete="off"
              />
            </div>

            <!-- email -->
            <div class="input_box">
              <label for="signup_email">Email</label>
              <input
                id="signup_email"
                type="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>

            <!-- password -->
            <div class="input_box">
              <label for="signup_password">Password</label>
              <div class="relative_input">
                <input
                  id="signup_password"
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                />
                <ion-icon
                  class="password_show password_toggle hidden"
                  name="eye-outline"
                ></ion-icon>
                <ion-icon
                  class="password_hidden password_toggle"
                  name="eye-off-outline"
                ></ion-icon>
              </div>
            </div>

            <!-- confirm password -->
            <div class="input_box">
              <label for="confirm_signup_password">Confirm Password</label>
              <div class="relative_input">
                <input
                  id="confirm_signup_password"
                  type="password"
                
                  placeholder="Confirm password"
                  required
                />
                <ion-icon
                  class="password_show confirm_password_show password_toggle hidden"
                  name="eye-outline"
                ></ion-icon>
                <ion-icon
                  class="password_hidden confirm_password_hidden password_toggle"
                  name="eye-off-outline"
                ></ion-icon>
              </div>
            </div>

            <!-- query container -->
            <div class="query_container query_container_signup">
              <div class="radio_container">
                <label>
                  <input type="checkbox" required />
                  <span class="check_box"></span>
                  <ion-icon
                    class="check_icon"
                    name="checkmark-outline"
                  ></ion-icon>
                </label>
              </div>
              <div class="signup_text">
                I agree to our
                <span class="text_white">Privacy Policy</span> and
                <span class="text_white">Term & Conditions</span>
              </div>
            </div>
            <!-- button -->
            <button class="gray_green_btn font__sm" type="submit" id="submit-sign-up">Continue</button>
          </form>
          <!-- form end -->

          <!-- rota -->
          <div class="new_direction bold">
            Already have an account?
            <a class="text-green" href="/static/login.html">Login</a>
          </div>
        </div>
      </section>
    </div>

    <script src="/static/app.js"></script>
    <script>
      const pass = document.getElementById('signup_password')
      const confpass  = document.getElementById('confirm_signup_password')
      const signupbutton = document.getElementById('submit-sign-up')
      const signupform = document.getElementById('signup')
      signupbutton.addEventListener('click',function(e){
        e.preventDefault();
        if(pass.value!=confpass.value){
          
          alert('Passwords is not same!')
        }
        else{
          if(document.getElementById('user-name').value.length>0 && document.getElementById('signup_email').value.length>0 && document.getElementById('signup_password').value.length>0 ){
            signupform.submit();
          }
          else{
            alert('Fill out the form!')
          }
        }
      })
    </script>
    <script src="/static/js/signup.js"></script>
  </body>
</html>
